<!DOCTYPE html>
<html lang="en">

<base href="@@path">

<link id="fonts-css" href="css/fonts.css" rel="stylesheet" media="screen">
<link id="vvvebjs-css" href="css/custom.css" rel="stylesheet" media="screen">

<link rel="sitemap" type="application/xml" title="Sitemap" href="/feed/index">
<link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts" />
<link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments" />
<link rel="alternate" type="application/rss+xml" title="Products" href="/feed/products" />

<link rel="icon" type="image/x-icon" href="media/favicon.ico" data-v-global-site.favicon>

<link rel="manifest" href="/manifest.webmanifest">

<link rel="alternate" hreflang="" href="" />

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Creastie</title>



  <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/lineicons.css">
  <link rel="stylesheet" href="css/style.css">


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R0NEDHSY14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-R0NEDHSY14');
  </script>
</head>

<body>
  <!-- ====== Header Start ====== -->
  <header class="ud-header " data-v-save-global="index.html,header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <div data-v-component-site>
              <a class="navbar-brand" href="index.html" data-v-url-params='{"host":"www.*.*"}'>
                <img src="images/logo/logo.png" loading="lazy" alt="logo" data-v-site-logo>
                <img src="img/logo.png" alt="Site logo" loading="lazy" class="logo-sticky logo-main"
                  data-v-site-logo-sticky>
                <img src="img/logo-white.png" alt="logo" loading="lazy" class="logo-default-dark logo-main"
                  data-v-site-logo-dark>
                <img src="img/logo-white.png" alt="logo" loading="lazy" class="logo-default-dark-sticky logo-main"
                  data-v-site-logo-dark-sticky>
              </a>
            </div>

            <button class="navbar-toggler">

            </button>

            <div class="navbar-collapse" data-v-component-menu="header" data-v-slug="main-menu">
              <ul id="nav" class="navbar-nav mx-auto" data-v-menu-items>

                <li class="nav-item position-static" data-v-menu-item
                  data-v-class-if-nav-item-has-children="category.children &gt; 0"
                  data-v-class-if-position-static="category.has-text">



                  <div class="ud-submenu" data-v-menu-item-recursive>
                    <div data-v-menu-item class="ud-submenu-item" data-v-class-if-dropdown="category.children &gt; 0">
                      <a class="ud-submenu-link" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                        <span data-v-menu-item-name data-v-if-not="category.type = 'text'"></span>
                        <span data-v-menu-item-content>
                          <div class="row">
                            <div class="col-6 align-self-center">
                              <img src="/media/demo/posts/4.jpg" alt="Post" width="250" loading="lazy" class="rounded">
                            </div>
                            <div class="col-6">
                              <h4>Features</h4>
                              <p class="text-muted">Just a few mentions, but there is more</p>
                              <ul class="list-unstyled">
                                <li class="text-primary">Page builder</li>
                                <li class="text-primary">Mega menu</li>
                                <li class="text-primary">Multi language</li>
                                <li class="text-primary">Advanced SEO</li>
                                <li class="text-primary">Ecommerce</li>
                              </ul>
                            </div>
                          </div>
                        </span>
                      </a>
                    </div>

                    <!--
                    <div data-v-menu-item class="nav-item" data-v-class-if-dropdown="category.children &gt; 0">
                      <a class="ud-submenu-link" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                        <span data-v-menu-item-name data-v-if-not="category.type = 'text'">Developer
                          Documentation</span>
                        <span data-v-menu-item-content></span>
                      </a>
                    </div>
                  </div>
                </li>
                -->
                    <!--
			<ul id="nav" class="navbar-nav mx-auto">
			  <li class="nav-item">
				<a class="ud-menu-scroll" href="#home">Home</a>
			  </li>

			  <li class="nav-item">
				<a class="ud-menu-scroll" href="#about">About</a>
			  </li>
			  <li class="nav-item">
				<a class="ud-menu-scroll" href="#pricing">Pricing</a>
			  </li>
			  <li class="nav-item">
				<a class="ud-menu-scroll" href="#team">Team</a>
			  </li>
			  <li class="nav-item">
				<a class="ud-menu-scroll" href="#contact">Contact</a>
			  </li>
			  <li class="nav-item nav-item-has-children">
				<a href="javascript:void(0)"> Pages </a>
				<ul class="ud-submenu">
				  <li class="ud-submenu-item">
					<a href="about.html" class="ud-submenu-link">
					  About Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="pricing.html" class="ud-submenu-link">
					  Pricing Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="contact.html" class="ud-submenu-link">
					  Contact Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="blog.html" class="ud-submenu-link">
					  Blog Grid Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="blog-details.html" class="ud-submenu-link">
					  Blog Details Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="login.html" class="ud-submenu-link">
					  Sign In Page
					</a>
				  </li>
				  <li class="ud-submenu-item">
					<a href="404.html" class="ud-submenu-link">404 Page</a>
				  </li>
				</ul>
			  </li>
			</ul>
-->
              </ul>
            </div>


            <div class="navbar-btn  d-sm-inline-block">
              <a href="https://wandering-painter-753.notion.site/Victor-Shkekin-Senior-Product-Designer-358570eb853d80d586e1e775e49eab2e"
                class="ud-main-btn ud-login-btn" target="_blank">

                <img src="images//about/notion.svg" alt="Notion" width="24" height="24">

                Product Portfolio
              </a>




              <a class="ud-main-btn ud-white-btn" data-bs-toggle="modal" data-bs-target="#contactModal"
                data-v-url="user/signup/index" href="javascript:void(0)">
                Contact Me
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ====== Header End ====== -->

  <!-- ====== Banner Start ====== -->

  <section class="ud-page-banner">

    <div class="container mt-5">

      <div class="row">

        <div class="col-lg-11 mx-auto">
          <div class="ud-blog-details-content">

            <div class="ud-section-title">




              <h1 class="width-600"> Creasie </h1>
              <p class="width-600 ud-blog-details-para">

              </p>
              <div class="ud-blog-image ud-blog-lable">

                <img src="images/img/cre/1.png" alt="blog">

              </div>

            </div>


          </div>
        </div>


      </div>
    </div>




    <!-- ====== The first block ====== -->

    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h3 class="ud-blog-details-title">
            Problem
          </h3>
        </div>

        <div class="col-lg-6 ">
          <p class="ud-blog-details-para width-600">
            Our donation service had streamers who wanted to sell content through subscriptions, such as photos, videos,
            stories, etc. The donation service did not have this functionality, so we decided to develop a new service.
          </p>
        </div>



      </div>
    </div>

    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <h3 class="ud-blog-details-title">
            Research
          </h3>
        </div>

        <div class="col-lg-6 ">
          <p class="ud-blog-details-para width-600">
            There were several competitors. We chose the main service as a base and added improvements to it.
        </div>



      </div>
    </div>



    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Login and registration
            </h3>

            <p>
              The style was designed to be playful because the service is for streamers. I also added popular services
              for quick login.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- ====== center  ====== -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/2.png" class="zoom-image " data-bs-toggle="modal" style="cursor: zoom-in"
                    data-bs-target="#imageModal ">
                </div>

              </div>
            </div>

          </div>


        </div>
      </div>
    </div>



    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Home page 
            </h3>

            <p>
              Here users can see all posts and available subscriptions. Everything can be customized and adjusted to
              their preferences. The viewer gets a page similar to Instagram, but without unnecessary customization
              buttons.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- ====== center  ====== -->
    <div class="container mt-4 ">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/3.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Sending and withdrawing funds 
            </h3>

            <p>
              Withdrawals include a commission, which is how the service makes money.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- ====== center  ====== -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/4.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Statistics dashboard 
            </h3>

            <p>
              Here the streamer can track performance and see the growth of subscribers and donations.
            </p>
          </div>

        </div>
      </div>
    </div>

    <!-- ====== center  ====== -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/5.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Create a post 
            </h3>

            <p>
              Create a post with access settings. It can be made available for free or through a subscription.
            </p>
          </div>

        </div>
      </div>
    </div>




    <!-- ====== center  ====== -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/6.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>


    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Subscription
            </h3>

            <p>
              The viewer can choose whether to buy one post or subscribe. A subscription is more profitable, so we
              encourage users to subscribe.
            </p>
          </div>

        </div>
      </div>
    </div>




    <!-- ====== center  ====== -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/7.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>




    <!-- ====== The last block ====== -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Landing page 
            </h3>

            <p>
              It explains how to get started and what the benefits are. The calculator helps users estimate their
              potential profit.
            </p>

          </div>

        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="ud-section-title mx-auto text-center ud-blog-details-para-blog">
            <div class="zoom-card">
              <div class="ud-blog-sidebar">

                <div class="ud-blog-image">

                  <img src="images/img/cre/8.png" class="w-100 zoom-image" data-bs-toggle="modal"
                    style="cursor: zoom-in" data-bs-target="#imageModal ">
                </div>


              </div>
            </div>

          </div>


        </div>
      </div>
    </div>




    <!-- ====== The last block ====== -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-11 mx-auto">

          <div class="case-text-block">
            <h3 class="mb-4">
              Results
            </h3>

            <p>
              The service was developed and launched, and a design system was also created to make it easier to maintain
              the design.
            </p>
            <div class="last-description mx-auto">
              <a href="https://www.linkedin.com/in/viktor-shkekin/" class="ud-main-btn db-main-btn mt-3" target="_blank"
                rel="noopener noreferrer">
                <i class="lni lni-linkedin-original"></i>
                Follow on LinkedIn
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>




  </section>

  </section>
  <!-- ====== Blog Details End ====== -->
  <!--
  <!-- 
  <section class="ud-blog-grids">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-blog">
            <div class="ud-blog-image">
              <a href="blog-details.html">
                <img src="images/blog/blog-01.jpg" alt="blog">
              </a>
            </div>
            <div class="ud-blog-content">
              <span class="ud-blog-date">Dec 22, 2023</span>
              <h3 class="ud-blog-title">
                <a href="blog-details.html">
                  Meet AutoManage, the best AI management tools
                </a>
              </h3>
              <p class="ud-blog-desc">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-blog">
            <div class="ud-blog-image">
              <a href="blog-details.html">
                <img src="images/blog/blog-02.jpg" alt="blog">
              </a>
            </div>
            <div class="ud-blog-content">
              <span class="ud-blog-date">Dec 22, 2023</span>
              <h3 class="ud-blog-title">
                <a href="blog-details.html">
                  How to earn more money as a wellness coach
                </a>
              </h3>
              <p class="ud-blog-desc">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="ud-single-blog">
            <div class="ud-blog-image">
              <a href="blog-details.html">
                <img src="images/blog/blog-03.jpg" alt="blog">
              </a>
            </div>
            <div class="ud-blog-content">
              <span class="ud-blog-date">Dec 22, 2023</span>
              <h3 class="ud-blog-title">
                <a href="blog-details.html">
                  The no-fuss guide to upselling and cross selling
                </a>
              </h3>
              <p class="ud-blog-desc">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  -->
  <!-- ====== Blog End ====== -->
  </div>
  <!-- ====== Footer Start ====== -->
  <footer class="ud-footer wow fadeInUp" data-wow-delay=".15s" data-v-save-global="index.html,footer">

    <div class="ud-footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="ud-widget">



              <div>
                <p class="ud-widget-desc">
                  Visual Portfolio
                </p>
              </div>



              <div>
                <ul class="ud-widget-socials">
                  <li>
                    <a href="https://t.me/ViktorSkn">
                      <i class="lni lni-telegram-original"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://wa.me/79052461625">
                      <i class="lni lni-whatsapp"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/in/viktor-shkekin/">
                      <i class="lni lni-linkedin-original"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="rights">
                <p class="ud-widget-desc">
                  2026
                  All rights reserved.
                </p>
              </div>

            </div>





          </div>
        </div>




      </div>
    </div>
    </div>

  </footer>

  <!-- ====== Back To Top Start ====== -->
  <a href="javascript:void(0)" class="back-to-top">
    <i class="lni lni-chevron-up"> </i>
  </a>
  <!-- ====== Back To Top End ====== -->

  <!-- ====== All Javascript Files ====== -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/main.js"></script>

  <!-- Vvveb Ajax Common Js -->
  <script src="../../js/jquery.min.js"></script>
  <script id="app-js" src="../../js/app.js"></script>

  <script>
    // ==== for menu scroll
    const pageLink = document.querySelectorAll(".ud-menu-scroll");

    pageLink.forEach((elem) => {
      elem.addEventListener("click", (e) => {
        e.preventDefault();
        document.querySelector(elem.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
          offsetTop: 1 - 60,
        });
      });
    });

    // section menu active
    function onScroll(event) {
      const sections = document.querySelectorAll(".ud-menu-scroll");
      const scrollPos =
        window.pageYOffset ||
        document.documentElement.scrollTop ||
        document.body.scrollTop;

      for (let i = 0; i < sections.length; i++) {
        const currLink = sections[i];
        const val = currLink.getAttribute("href");
        const refElement = document.querySelector(val);
        const scrollTopMinus = scrollPos + 73;
        if (
          refElement.offsetTop <= scrollTopMinus &&
          refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
        ) {
          document
            .querySelector(".ud-menu-scroll")
            .classList.remove("active");
          currLink.classList.add("active");
        } else {
          currLink.classList.remove("active");
        }
      }
    }

    window.document.addEventListener("scroll", onScroll);
  </script>


  <div class="bg-image"></div>

  <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
    <div class="container">

      <div class="message">
        Product was added to cart.
      </div>


      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <button type="button" class="btn-close btn-close-white small" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content border-0">
        <div class="modal-body p-0">

          <form action="%7B%24this.global.path%7D/search" method="get">
            <input type="hidden" name="route" value="search">
            <div class="d-flex">
              <div class="input-group">
                <input type="search" name="search" class="form-control border-0 p-3 px-4" id="headerSearch"
                  placeholder="Start typing to search" data-v-vvveb-action="search" data-selector=".search-results"
                  data-v-vvveb-on="input" data-url="{$this.global.path}/search">
                <button class="btn btn-outline-primary border-0" type="submit" title="Search">
                  <div class="la-flip-horizontal">
                    <i class="la la-search la-lg" aria-hidden="true"></i>
                  </div>
                </button>
              </div>
            </div>

            <div class="loading d-none d-flex justify-content-center m-5">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </form>

          <div class="search-results">
          </div>

        </div>
      </div>
    </div>

  </div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="cart-offcanvas" aria-labelledby="cart-offcanvas">

    <div class="offcanvas-header pb-0">
      <h5 class="offcanvas-title"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column pt-2" data-v-component-cart="offcanvas">

      <div class="table-responsive flex-grow-1">
        <table class="table cart-table align-middle mb-0">
          <tbody>


            <tr data-v-cart-product>
              <td class="text-center">
                <a href="#40" data-v-cart-product-url>
                  <img src="demo/img/product.webp" alt="Product name" class="img-rounded" loading="lazy"
                    data-v-cart-product-image width=50>
                </a>
              </td>
              <td class="text-start small">
                <a href="#40" class="d-block" data-v-cart-product-url>
                  <span data-v-cart-product-name>Product name</span>
                </a>

                <span data-v-cart-product-quantity>1</span>
                <i class="la la-times text-muted"></i>
                <span data-v-cart-product-price_tax_formatted>$123.20</span>

                <div class="option" data-v-if="product.option">
                  <div class="" data-v-product-option>
                    <span data-v-product-option-option>Color</span>: <span data-v-product-option-name>Red</span>
                    <span data-v-if="value.price > 0">(<span data-v-product-option-price></span>)</span>
                  </div>
                  <div class="" data-v-product-option>
                    <span data-v-product-option-option>Size</span>: <span data-v-product-option-name>XL</span>
                    <span data-v-if="value.price > 0">(<span data-v-product-option-price></span>)</span>
                  </div>
                  <div class="" data-v-product-option>
                    <span data-v-product-option-option>Material</span>: <span data-v-product-option-name>Wool</span>
                    <span data-v-if="value.price > 0">(<span data-v-product-option-price></span>)</span>
                  </div>
                </div>

                <div class="subscription" data-v-if="product.subscription">
                  <span>Subscription plan</span>:
                  <span data-v-cart-product-subscription_name>Subscription plan</span>
                </div>
              </td>
              <td class="text-end">
                <a class="btn btn-remove btn-sm border-0" data-v-vvveb-action="removeFromCart"
                  data-v-cart-product-remove-url>
                  <i class="la la-times-circle la-lg"></i>
                </a>
              </td>
            </tr>
            <tr data-v-cart-product>
              <td class="text-center">
                <a href="#40" data-v-cart-product-url>
                  <img src="demo/img/product.webp" alt="Product name" class="img-rounded" loading="lazy"
                    data-v-cart-product-image width=50>
                </a>
              </td>
              <td class="text-start">
                <a href="#40" class="d-block" data-v-cart-product-url data-v-cart-product-name>
                  Product name
                </a>

                <span data-v-cart-product-quantity>1</span>
                <i class="la la-times text-muted"></i>
                <span data-v-cart-product-price_tax_formatted>$123.20</span>


              </td>
              <td class="text-end">
                <a class="btn btn-outline-secondary btn-sm border-0" data-v-vvveb-action="removeFromCart"
                  data-v-cart-product-remove-url>
                  <i class="la la-times"></i>
                </a>
              </td>
            </tr>
            <tr data-v-if-not="cart.total_items">
              <td colspan="100">
                <div class="d-flex  p-2">
                  <div class="text-center p-2 opacity-75">
                    <!-- <img src="demo/img/bag.svg" width="20" alt> -->
                    <i class="la la-2x la-shopping-bag"></i>
                  </div>
                  <div class="p-2">
                    <strong>Empty cart</strong>
                    <br>
                    <span class="text-muted">No products added yet!</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="p-3 pt-0 border-top" data-v-if="cart.total_items">
        <div class="table-responsive mb-2" data-v-cart-totals>
          <table class="table mb-0 cart-table cart-total" cellspacing="0">
            <tfoot>
              <tr data-v-cart-total>
                <td colspan="5" class="text-end">
                  <small data-v-cart-total-title>Sub-Total</small>:
                </td>
                <td class="text-end">
                  <span data-v-cart-total-text data-v-if="total.text"> - </span>
                  <span data-v-cart-total-value_formatted data-v-if="total.value != 0">$101.00</span>
                </td>
              </tr>
              <tr data-v-cart-total>
                <td colspan="5" class="text-end">
                  <small>Eco Tax (2.00):</small>
                </td>
                <td class="text-end">$2.00</td>
              </tr>
              <tr data-v-cart-total>
                <td colspan="5" class="text-end">
                  <small>VAT (19%):</small>
                </td>
                <td class="text-end">$20.20</td>
              </tr>
              <tr data-v-cart-total>
                <td colspan="5" class="text-end">
                  <small>Total:</small>
                </td>
                <td class="text-end">$123.20</td>
              </tr>
              <tr>
                <td colspan="5" class="text-end">Total:</td>
                <td class="text-end" data-v-cart-total_formatted>$0</td>
              </tr>
            </tfoot>

          </table>
        </div>

      </div>

      <div class="row mt-2 g-2 px-3 pb-2" data-v-if="cart.total_items">
        <div class="col-6">
          <a href="" class="btn btn-light btn-sm border w-100" data-v-url="cart/cart/index" data-url>
            <i class="la la-shopping-cart la-lg"></i>
            <span>View cart</span>
          </a>
        </div>
        <div class="col-6">
          <a href="" class="btn btn-primary btn-sm w-100" data-v-url="checkout/checkout/index">
            <span>Checkout</span>
            <i class="la la-arrow-right la-lg"></i>
          </a>
        </div>
      </div>


    </div>

  </div>

  <!-- img modal -->
  <div class="modal fade" id="imageModal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content bg-transparent border-0">

        <button type="button" class="custom-close" data-bs-dismiss="modal">
          &times;
        </button>

        <img id="modalImage" class="img-fluid">

      </div>
    </div>
  </div>


  <!-- ====== contact me window ====== -->
  <div class="modal fade" id="contactModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-contact">

        <div class="modal-header">
          <h5 class="modal-title">Contact Me</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <div class="d-grid gap-3">

            <a href="https://wa.me/79052461625" target="_blank" class="btn btn-success btn-lg">
              WhatsApp
            </a>

            <a href="https://t.me/ViktorSkn" target="_blank" class="btn btn-primary btn-lg">
              Telegram
            </a>

            <a href="https://www.linkedin.com/in/viktor-shkekin/" target="_blank" class="btn btn-info btn-lg">
              LinkedIn
            </a>

            <a href="mailto:victorshkekin@gmail.com" class="btn btn-dark btn-lg">
              Email
            </a>

          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- ====== contact me window end ====== -->


  <!-- Vvveb Common Js -->
  <script id="popper-js" src="js/popper.min.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
  <script id="bootstrap-js" src="js/bootstrap.min.js"></script>
  <!-- Vvveb Ajax Common Js -->
  <script id="app-js" src="/js/app.js"></script>

  <!-- Animation -->

  <link rel="stylesheet" href="js/aos.css">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>

  <script src="js/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <script id="cart-js" src="/js/app/cart.js"></script>

  <link id="glightbox-css" rel="stylesheet" href="/js/libs/glightbox/glightbox.css">
  <script id="glightbox-js" src="/js/libs/glightbox/glightbox.min.js"></script>

  <script id="theme-js" src="/js/app/theme.js"></script>

  <script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/public\/*","\/themes\/*","\/plugins\/*","\/cart\/*","\/checkout\/*","\/user\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>

  <script>

    const modalImage = document.getElementById("modalImage");

    document.querySelectorAll(".zoom-image").forEach(img => {
      img.addEventListener("click", function () {
        modalImage.src = this.src;
        modalImage.alt = this.alt;
      });
    });
  </script>

</body>

</html>